.container{
  text-align: center;
  height: 100%;
}

.button{
  width: 200px;
  line-height: 30px;
  background-color: slategray;
  font-size: 15px;
  text-transform: uppercase;
}

.button:focus{
  outline:none;
}

.message{
  height: 80%;
  width: 100%;
  box-sizing: border-box;
}

.message:focus{
  outline: none;
}